body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
.span4,.span8{
	margin-top:90px;
}
.span4 p,.span8 p{
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
	font-family: 'play' , sans-sarif;
	
}

.custom-input{
	width:260px;
}
#controls{
	margin-left:20px;
}
#topbar-form{
	float: left;
	margin: 2px 0 0 0;
	position: relative;
	filter: alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	padding-bottom:10px;
}

.well legend{
	font-family: 'play' , sans-sarif;
}

