.span4,.span8{
	margin-top:90px;
}
.span4 p,.span8 p{
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
	font-family: 'play' , sans-sarif;
	
}

.custom-input{
	width:320px;
}
#controls{
	margin-left:0px;
}

.form-horizontal{
	margin-left:13px;
}
.well legend{
	font-family: 'play' , sans-sarif;
}

